* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animateRotate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

.box {
    max-width: 300px;
    padding-inline: 10px;
    /*left and right padding = 10px */
    padding-bottom: 10px;
    padding-top: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 9px;
    box-shadow: 0 0 0px blue;
    border-radius: 15px;
    background: linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, blue, black) border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: animateRotate 4s infinite linear paused;
    transition: all 0.3s linear;
    text-shadow: 0 0 0px blue;
}

.box:hover {
    animation-play-state: running;
    border-width: 5px;
    color: blue;
    box-shadow: 0 0 50px blue;
    text-shadow: 0 0 10px blue;
}

.box img {
    width: 100%;
}